*{
    margin:0;
    padding: 0;
}
body{
    background-color: black;
    color: white;
}

.left{
    width: 20vw;
    padding: 14px;;
}

.right{
    width: 80vw;
    padding: 14px;

}

.home{
    padding: 10px;
}

.home ul li{
    display: flex;
    gap: 15px;
    width: 15px;
    list-style: none;
    padding-top: 15px;
    font-weight: bold;
}

.heading{
    display: flex;
    gap: 15px;
    width: 100%;
    list-style: none;
    padding-top: 15px; 
    padding: 23px,14px;
    font-weight: bold;
    font-size: 12px;
}

.heading img{
    width: 20px;
}

.footer{
    display: flex;
    gap: 13px;
    font-size: 7px;
    position: absolute;
    bottom: 0;
}

.footer a{
    color: grey;
}

.library {
    min-height: 75vh;
    position: relative;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: #343434;
}

.header > *{
   padding: 20px; 
}

.spotifyPlaylist{
    padding: 6px;
}

.cardContainer{
    margin: 30px;
    display: flex;
    gap: 10px ;
    flex-wrap: wrap;
}

.card{
    width: 150px;
    padding: 14px;
    background-color: #252525;
    border-radius: 5px;

}

.card *{
    padding-top: 10px;
}

.card img{
    width: 100%;
    object-fit: contain;
}


